* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 0%);
    font-family: 'Montserrat', sans-serif !important;
    overflow: auto;
}

ul {
    list-style-type: none;
}

section {
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding-right: 10%;
    padding-left: 10%;
    color: black;
    text-decoration: none;
    font-size: larger;
}

.navbar a {
    text-transform: uppercase;
    min-width: 200px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.navitem {
    justify-content: space-between;
}

.telefone {
    font-size: larger;
}

.whatsapp {
    width: 30px;
    margin-right: 15px;
    margin-left: 100px;
}

a {
    color: darkred;
    text-decoration: none;
}

li {
    font-weight: bold;
}

p {
    font-size: 20px;
}

a:hover {
    color: rgb(87, 2, 2);
}

.btn-orcamento {
    background-color: darkred;
    width: 300px;
    height: 60px;
}

h1 {
    font-weight: 900;
    line-height: 1;
    text-align: center;
    padding-bottom: 50px;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    vertical-align: middle;
}

.hero h1 {
    padding: 0px;
}

.slogan {
    background-color: white;
    opacity: 0.6;
    position: absolute;
    left: 0;
    width: 600px;
    height: 100%;
    text-align: center;
    padding: 50px;
    box-shadow: -10px 0px 10px -6px rgba(0, 0, 0, 0.38);
    z-index: 1;
}

.slogan-text {
    position: absolute;
    top: 45%;
    left: 100px;
    height: 100%;
    text-align: center;
    margin: auto;
    z-index: 1;
}

.diferencial {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 150px 0px;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.services {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.service-item {
    padding-top: 50px;
    border-radius: 15px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service-item img {
    width: 50px;
    padding-bottom: 20px;
}

/* PROJETOS */
.projetos {
    width: 100%;
    background-color: #f8f8f8;
    padding: 150px 0px;
}

.row {
    display: flex;
    flex: 1 1 100%;
    padding: 0 4px;
    justify-content: center;
}

.row img {
    vertical-align: middle;
    object-fit: fill;
    width: 400px;
    height: 400px;
    padding: 0px;
}

.orcamento {
    background-color: white;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.text-mensagem{
    padding: 20px;
}

.descricao {
    width: 100%;
}

#quemsomos {
    background-color: #262626;
    width: 100%;
    padding: 150px 0px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.quemsomos {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#orcamento {
    padding: 150px 0px;
}

.orcamento input {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

.orcamento textarea {
    height: 400px;
    width: 100%;
    padding-top: 20px;
}

#contato {
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer {
    padding-bottom: 40px;
    padding-top: 40px;
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: left;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    background-color: darkred;
}

.footer .item {
    padding: 20px;
}

.footer a {
    color: white;
}

.social {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 200px;
}

.social p {
    padding: 0;
}

svg {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    body {
        padding-top: 0px !important;
    }
    .navbar-fixed-top {
        position: initial !important;
    }

    p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .slogan {
        background-color: white;
        opacity: 0.6;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 50px;
        box-shadow: -10px 0px 10px -6px rgba(0, 0, 0, 0.38);
    }

    .slogan-text {
        position: absolute;
        font-size: 20px;
        top: 45%;
        left: 20px;
        height: 100%;
        text-align: center;
        margin: auto;
    }

    h1 {
        font-size: 30px;
    }

    .orcamento {
        flex-direction: column;
        padding: 150px 0px;
    }

    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}
